body {
    background: turquoise;
}

#jokeContainerDiv {
    background: gray;
}

h4, p {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: maroon;
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    width: 150px;
}