body {
    background: turquoise;
}

#jokeContainerDiv {
    background: gray;
    border-box: 10px;
}

#btnPunchline {
    background-color: maroon;
    border: none;
    color: white;
    text-align: center;
    font-size: 12px;
    width: 200px;

}